<!-- ##### Call To Action Start ###### -->
<section class="cta-area d-flex flex-wrap">
    <!-- Cta Thumbnail -->
    <div class="cta-thumbnail bg-img jarallax">GALERIA</div>

    <!-- Cta Content -->
    <div class="cta-content">
        <!-- Section Heading -->
        <div class="section-heading white">
            <div class="line"></div>
            <p>Audi</p>
            <h2>Audi A1 1.4 TDI CV 110</h2>
        </div>
        <h6>
          El A1 se presentó por primera vez bajo un modelo conceptual en el Salón del Automóvil de Tokio de 2007 como el Audi A1 Metroproject Quattro. El prototipo de automóvil era un hatchback de tres puertas y cuatro plazas. Montaba un propulsor híbrido: con un motor de gasolina turboalimentado de 1,4 litros de cilindrada y 150 CV de potencia máxima junto a un motor eléctrico de 40 CV (29,8 kW) de potencia máxima de 200,7 N·m de par motor.
        </h6>
        <div class="d-flex flex-wrap mt-50">
            <!-- Single Skills Area -->
            <div class="single-skils-area mb-70 mr-5">
                <div id="circle" class="circle" data-value="0.90">
                    <div class="skills-text">
                        <span>110</span>
                    </div>
                </div>
                <p>CV</p>
            </div>

            <!-- Single Skills Area -->
            <div class="single-skils-area mb-70 mr-5">
                <div id="circle2" class="circle" data-value="0.75">
                    <div class="skills-text">
                        <span>1.4</span>
                    </div>
                </div>
                <p>CC</p>
            </div>
            <!-- Single Skills Area -->
            <div class="single-skils-area mb-70 mr-5">
                <div id="circle5" class="circle" data-value="0.97">
                    <div class="skills-text">
                        <span>TDI</span>
                    </div>
                </div>
                <p>Motor</p>
            </div>
            <!-- Single Skills Area -->
            <div class="single-skils-area mb-70 mr-5">
                <div id="circle3" class="circle" data-value="5000">
                    <div class="skills-text">
                        <span>5000</span>
                    </div>
                </div>
                <p>KM</p>
            </div>
            <!-- Single Skills Area -->
            <div class="single-skils-area mb-70 mr-5">
                <div id="circle4" class="circle" data-value="0.27">
                    <div class="skills-text">
                        <span>2017</span>
                    </div>
                </div>
                <p>Año</p>
            </div>

        </div>
        <a href="#" class="btn credit-btn box-shadow btn-2">Reservar</a>
    </div>
</section>
<!-- ##### Call To Action End ###### -->
