<!-- ##### Call To Action Start ###### -->
<section class="cta-area d-flex flex-wrap" *ngFor="let coche of articulo.art_m">
    <div class="row" *ngIf="!mobile">
    <!-- Cta Thumbnail -->
      <div class="cta-thumbnail bg-img jarallax">

        <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>

      </div>

      <!-- Cta Content -->
      <div class="cta-content">
          <!-- Section Heading -->
          <div class="section-heading white">
              <div class="line"></div>
              <h2>{{coche.name}}</h2>
          </div>
          <h6>
            El A1 se presentó por primera vez bajo un modelo conceptual en el Salón del Automóvil de Tokio de 2007 como el Audi A1 Metroproject Quattro. El prototipo de automóvil era un hatchback de tres puertas y cuatro plazas.
          </h6>

          <a href="#" class="btn credit-btn box-shadow btn-2">Reservar</a>
        </div>
    </div>
    <div class="row" *ngIf="mobile">

        <!-- <div class="section-plus-height"> -->
        <div>
            <div class="line"></div>
            <h2>{{coche.name}}</h2>
        </div>
        <h6>
          El A1 se presentó por primera vez bajo un modelo conceptual en el Salón del Automóvil de Tokio de 2007 como el Audi A1 Metroproject Quattro. El prototipo de automóvil era un hatchback de tres puertas y cuatro plazas.
        </h6>

        <a href="#" class="btn credit-btn box-shadow btn-2">Reservar</a>
    </div>
    <div class="d-flex flex-wrap mt-50">
        <!-- Single Skills Area -->
        <div class="single-skils-area mb-70 mr-5">
            <div id="circle" class="circle" data-value="0.90">
                <div class="skills-text">
                    <span>{{coche.cv}}</span>
                </div>
            </div>
            <p>CV</p>
        </div>

        <!-- Single Skills Area -->
        <div class="single-skils-area mb-70 mr-5">
            <div id="circle2" class="circle" data-value="0.75">
                <div class="skills-text">
                    <span>coche.cc</span>
                </div>
            </div>
            <p>CC</p>
        </div>
        <!-- Single Skills Area -->
        <div class="single-skils-area mb-70 mr-5">
            <div id="circle5" class="circle" data-value="0.97">
                <div class="skills-text">
                    <span>{{coche.cmbs}}</span>
                </div>
            </div>
            <p>Combustible</p>
        </div>
        <!-- Single Skills Area -->
        <div class="single-skils-area mb-70 mr-5">
            <div id="circle3" class="circle" data-value="5000">
                <div class="skills-text">
                    <span>{{coche.kms}}</span>
                </div>
            </div>
            <p>KM</p>
        </div>
        <!-- Single Skills Area -->
        <div class="single-skils-area mb-70 mr-5">
            <div id="circle4" class="circle" data-value="0.27">
                <div class="skills-text">
                    <span>{{coche.ano_mat}}</span>
                </div>
            </div>
            <p>Año</p>
        </div>
        <div class="cta-thumbnail bg-img jarallax">

          <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>

        </div>
    </div>
</section>
<!-- ##### Call To Action End ###### -->
