<header class="header-area">
    <!-- Top Header Area -->
    <div class="top-header-area">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 d-flex justify-content-between">
                    <!-- Logo Area -->
                    <div class="logo">
                        <a href="index.html"><img src="../../assets/img/core-img/logo.png" alt=""></a>
                    </div>

                    <!-- Top Contact Info -->
                    <div class="top-contact-info d-flex align-items-center">
                        <a href="#" data-toggle="tooltip" data-placement="bottom" title="Teléfono">
                          <img src="../../assets/img/core-img/placeholder.png" alt="">
                          <span>Teléfono</span>
                        </a>
                        <a href="#" data-toggle="tooltip" data-placement="bottom" title="email">
                          <img src="../../assets/img/core-img/message.png" alt=""> <span>email@email.com</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Navbar Area -->
    <div class="credit-main-menu" id="sticker">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Menu -->
                <nav class="classy-navbar justify-content-between" id="creditNav">

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>
                                <li><a [routerLink]="['']">Home</a></li>
                                <li><a [routerLink]="['servicios']">Servicios</a></li>
                                <li><a [routerLink]="['buscador']">Buscador</a></li>
                                <li><a [routerLink]="['acerca']">Acerda de</a></li>
                                <li><a [routerLink]="['contacto']">Contacto</a></li>
                            </ul>
                        </div>
                        <!-- Nav End -->
                    </div>

                    <!-- Contact -->
                    <div class="contact">
                        <a href="#"><img src="../../assets/img/core-img/call2.png" alt=""> +800 49 900 900</a>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ##### Header Area End ##### -->
