<!-- ##### Services Area Start ###### -->
<section class="services-area section-padding-100-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section Heading -->
                <div class="section-heading text-center mb-100 wow fadeInUp" data-wow-delay="100ms">
                    <div class="line"></div>
                    <h1>Vehiculos por Marca</h1>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Single Service Area -->

            <div class="col-4 col-md-4 col-lg-4">
              <div class="single-service-area d-flex mb-100 wow fadeInUp" data-wow-delay="200ms">
                    <div class="icon">
                        <i class="icon-profits"></i>
                    </div>
                    <div class="text">
                        <h5>Marca</h5>
                        <ul>
                          <li *ngFor="let familia of familias.fam_m" (click)="showArticulosFamilia(familia.id )">{{ familia.id }} - {{ familia.name }}</li>
                        </ul>
                    </div>
                </div>
              </div>
              <div class="col-8 col-md-8 col-lg-8">
                <div class="single-service-area d-flex mb-100 wow fadeInUp" data-wow-delay="200ms">
                  <div class="icon">
                      <i class="icon-profits"></i>
                  </div>
                  <div class="text">
                    <h5>Coches</h5>
                    <ul>
                      <li *ngFor="let coche of articulos.art_m">{{ coche.id }} - {{ coche.name }}</li>
                    </ul>
                  </div>
                </div>
              </div>

            </div>
        </div>
</section>
