<!-- ##### Services Area Start ###### -->
<section class="services-area mt-30">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section Heading -->
                <div class="section-heading text-center mb-30 wow fadeInUp" data-wow-delay="100ms">
                    <div class="line"></div>
                    <h1>Buscador</h1>
                    <div *ngIf="!mobile"> NO MOBILE </div>
                    <div *ngIf="mobile"> MOBILE </div>
                </div>
            </div>
        </div>

        <div class="row col-12 col-md-12 col-lg-12">
            <!-- Single Service Area -->

            <div class="col-md-3 col-lg-3 col-md-pull-9 col-sm-12">
              <!-- Params -->
              <form [formGroup]="formBusca">
                            <div class="selector">
                              <span class="labelTextBlue">Marca </span>
                              <div>
                                <select data-qa-selector="select"  formControlName="Marca" class="form-control w25" (change)="onChangeMarca($event.target.value)">
                                  <option  [value]="familia.id" *ngFor="let familia of familias.fam_m" required>{{familia.name}}</option>
                                </select>
                              </div>
                            </div>
                            <div class="selector">
                              <span class="labelTextBlue">Modelo</span>
                              <div>
                                <select data-qa-selector="select"  formControlName="Modelo" class="form-control w25" (change)="onChangeModelo($event.target.value)">
                                  <option  value="ffff"></option>
                                  <option  [value]="modelo.id" *ngFor="let modelo of modelos.fam_m">{{modelo.name}}</option>
                                </select>
                              </div>
                            </div>
                            <div class="selector">
                              <span class="labelTextBlue">Combustible</span>
                              <div>
                                <select data-qa-selector="select"  formControlName="Combustible" class="form-control w25" (change)="onChangeCombustible($event.target.value)">
                                  <option  selected=""  value="0">Cualquiera</option>
                                  <option  [value]="combustible.id" *ngFor="let combustible of Combustible">{{combustible.name}}</option>
                                </select>
                              </div>
                            </div>
                            <div class="selector">
                              <span class="labelTextBlue">Carroceria</span>
                              <div>
                                <select data-qa-selector="select"  formControlName="Carroceria" class="form-control w25" (change)="onChangeCarroceria($event.target.value)">
                                  <option  selected=""  value="0">Cualquiera</option>
                                  <option  [value]="carroceria.id" *ngFor="let carroceria of Carroceria">{{carroceria.name}}</option>
                                </select>
                              </div>
                            </div>
                            <div class="selector">
                              <span class="labelTextBlue">Kilometraje Máximo</span>
                              <div>
                                <input class="form-control w25" formControlName="Kilometraje"/>
                              </div>
                            </div>
                            <div class="selector">
                              <span class="labelTextBlue">Potencia (CV) Minima</span>
                              <div>
                                <input class="form-control w25" formControlName="Potencia"/>
                              </div>
                            </div>
                            <div class="selector">
                              <span class="labelTextBlue">Año Matriculación</span>
                              <div>
                                <input class="form-control w25" formControlName="Matriculacion"/>
                              </div>
                            </div>
                            <div class="selector">
                              <span class="labelTextBlue">Precio Máximo</span>

                                <select data-qa-selector="select" formControlName="precio.max" class="form-control w25" (change)="onChangePrecio($event.target.value)">
                                  <option selected=""  value="0">Cualquiera</option>
                                  <option value="500">500&nbsp;€</option>
                                  <option value="1000">1.000&nbsp;€</option>
                                  <option value="1500">1.500&nbsp;€</option>
                                  <option value="2000">2.000&nbsp;€</option>
                                  <option value="2500">2.500&nbsp;€</option>
                                  <option value="3000">3.000&nbsp;€</option>
                                  <option value="3500">3.500&nbsp;€</option>
                                  <option value="4000">4.000&nbsp;€</option>
                                  <option value="4500">4.500&nbsp;€</option>
                                  <option value="5000">5.000&nbsp;€</option>
                                  <option value="6000">6.000&nbsp;€</option>
                                  <option value="7000">7.000&nbsp;€</option>
                                  <option value="8000">8.000&nbsp;€</option>
                                  <option value="9000">9.000&nbsp;€</option>
                                  <option value="10000">10.000&nbsp;€</option>
                                  <option value="11000">11.000&nbsp;€</option>
                                  <option value="12000">12.000&nbsp;€</option>
                                  <option value="13000">13.000&nbsp;€</option>
                                  <option value="14000">14.000&nbsp;€</option>
                                  <option value="15000">15.000&nbsp;€</option>
                                  <option value="17500">17.500&nbsp;€</option>
                                  <option value="20000">20.000&nbsp;€</option>
                                  <option value="22500">22.500&nbsp;€</option>
                                  <option value="25000">25.000&nbsp;€</option>
                                  <option value="27500">27.500&nbsp;€</option>
                                  <option value="30000">30.000&nbsp;€</option>
                                  <option value="35000">35.000&nbsp;€</option>
                                  <option value="40000">40.000&nbsp;€</option>
                                  <option value="45000">45.000&nbsp;€</option>
                                  <option value="50000">50.000&nbsp;€</option>
                                  <option value="55000">55.000&nbsp;€</option>
                                  <option value="60000">60.000&nbsp;€</option>
                                  <option value="70000">70.000&nbsp;€</option>
                                  <option value="80000">80.000&nbsp;€</option>
                                  <option value="100000">100.000&nbsp;€</option>
                                </select>
                            </div>
                            <button class="btn credit-btn mt-50" type="button" name="button" (click)="buscaVehiculos()">Buscar</button>
                </form>
            </div>
            <div class="col-md-9 col-lg-9 col-md-push-3 col-sm-12">



<ul *ngIf="articulos">
  <li  *ngFor="let articulo of articulos.art_m" class="sep_art">
        <div class="container-fluid">
        	<div class="row">
        		<div class="col-md-3">
        			<img class="anuncio_horizontal_image" alt="car" src="http://auto.arysoft.es/imagenes/{{articulo.img1}}">
        		</div>
        		<div class="col-md-9">
        			<div class="row">
        				<div class="col-md-12 anuncio_horizontal_main">
        					<h3>
        					  {{articulo.name}}
        					</h3>
        				</div>
        			</div>
        			<div class="row">
        				<div class="col-md-12">
                  <ul class="anuncio_horizontal_list">
                  <li class="anuncio_horizontal_lista">Matriculación: {{articulo.matriculacion}}</li>
                  <li class="anuncio_horizontal_lista">Kilometraje: {{articulo.kilometraje}}</li>
                  </ul>
        				</div>
        			</div>
        			<div class="row">
                <div class="col-md-8 ">
                  <ul class="anuncio_horizontal_list">
                  <li class="anuncio_horizontal_lista">Potencia: {{articulo.cv}}</li>
                  <li class="anuncio_horizontal_lista">Cilindrada: {{articulo.cc}}</li>
                  </ul><br>
                  <ul class="anuncio_horizontal_list">
                  <li class="anuncio_horizontal_lista">Cambio tipo: {{articulo.tipo_veh}}</li>
                  <li class="anuncio_horizontal_lista">Combustible: {{articulo.combustible}}</li>
                  </ul>
        				</div>
        				<div class="col-md-4 text-right">
        					 <span class="anuncio_horizontal_precio">{{articulo.pvp}}&nbsp;€</span>
        				</div>
        			</div>
        		</div>
        	</div>
        </div>
  </li>
</ul>
        </div>
      </div>
    </div>
</section>
